:host {
  display: flex;
  cursor: pointer;
}
// button {
//   background-color: lightyellow;
// }
.active {
  position: fixed;
  top: 0;
  z-index: 999;
}
#nav-bar {
  display: flex;
 justify-content: space-around;
  width: 100%;
  background-color: white;
}
button{ 
  background-color: white;
}
