.container {
    cursor: pointer;
    font-size: 15px;
    background: -webkit-linear-gradient(rgb(1, 55, 44), rgb(5, 217, 111));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// .collapse {
//     display: inline;
// }

// li {
//     float: right;
// }
// .active {
//     display: flex;
//     position: fixed;
//     z-index: 999;
// }
// .navbar {
//     position: fixed;
//     left: 0;
//     width: 100%;
// }