<div id="nav-bar">
  <div class="header-buttons">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/bolile-unghiei">Bolile unghiei</button>
    <button mat-button routerLink="/despre-unghia-naturala">
      Despre unghia naturala
    </button>
    <button mat-button routerLink="/forme-unghii">Forme unghii</button>
    <button mat-button routerLink="produse-unghii">Produse</button>
    <button mat-button routerLink="ustensile-folosite">
      Ustensile folosite
    </button>
  </div>
</div>
