<h1>Afecțiuni și modificări ale unghiilor</h1>

<p>Afecțiunile pot fi infecțioase și neinfecțioase.</p>

<h5>Modificările pot fi :</h5>
<ul>
  <li>de consistență</li>
  <li>de pigmentare si colorare</li>
  <li>de forma si textura</li>
</ul>

<h5>Afecțiuni neinfecțioase ale unghiilor:</h5>

<h5>Șanțurile transversale :</h5>
<p>
  Sunt întâlnite cel mai des la unghiile mari, datorită unui tic. Pot fi
  întâlnite de asemenea și la mai multe unghii, datorate unei manichiuri
  realizate incorect.
</p>

<h5>Hematom subunghial :</h5>
<p>
  Este o colectie de sange in spatiul dintre patul unghial si unghie. In general
  sunt cauzate de diverse traume. Presiunea generata de aceasta acumulare de
  sange, sub unghie,poate provoca durere intensa, pulsatila la nivelul falangei
  distale (unghie mana sau picior).
</p>

<h5>Psoriazis Unghial :</h5>
<p>
  Psoriazisul este o afecţiune inflamatorie cronică, ce poate afecta pielea,
  unghiile şi scalpul. Această afecţiune cutanată nu este contagioasă, ea apare
  pe o anumită predispoziţie genetică, fiind favorizată de o serie de factori
  precum: stresul, infecţiile, anumite medicamente. Modificările unghiale
  generate de psoriazis sunt bogate, fiind reprezentate de: mici puncte
  deprimate pe lamele unghiale (pitting), pete gălbui înconjurate de inel roz
  (pată de ulei), îngroşarea lamelor unghiale (pachyonychie), modificări de
  culoare, îngroşarea pielii de sub unghii (hiperkeratoză subunghială),
  dobândirea unui caracter friabil al lamelor unghiale, uneori desprinderea
  parţială (onycholysis)/completă a lamelor unghiale (onychomadesis). Afectarea
  unghială în psoriazis poate să se manifeste izolat sau în asociere cu
  afectarea cutanată. Atunci când afectarea unghială este însoţită de leziuni
  cutanate tipice de psoriazis recunoaşterea modificărilor unghiale ca fiind
  induse de psoriazis este uşoară, iar tratarea lor se va face în funcţie de
  extensia leziunilor cutanate.
</p>

<h5>Diagnosticul pentru psoriazisul unghial</h5>
<p>
  Dificultăţi mari în stabilirea diagnosticului apar atunci când modificările
  unghiale psoriaziforme apar la o persoană fără antecedente de psoriazis. Cel
  mai adesea în asemenea situaţii diagnosticul se întârzie cu luni şi uneori
  chiar cu ani de zile, anomaliile unghiale depistate fiind eronat interpretate
  ca fiind micoză unghială. În faţa unei aşa zise micoze unghiale neresponsive
  la tratament se va face o reevaluare clinică şi paraclinică (examen micologic
  direct, examinare histopatologică a lamei unghiale, cultură de fungi,
  fungigramă, biopsie unghială) pentru a ajunge la diagnosticul corect. Biopsia
  unghială este esenţială în stabilirea diagnosticului de psoriazis unghial, în
  absenţa leziunilor cutanate. În funcţie de tipul modificărilor unghiale
  prezente medicul va decide tipul de biopsie unghială (de la nivelul matricei
  unghiale sau de la nivelul patului unghial).
</p>

<h6>LEUCONICHIA</h6>
<p>
  aceasta este una dintre cele mai frecvente modificări unghiale, se
  caracterizează sub forme variate de pete mici albe ovalare orizontale și poate
  să fie și totală înseamnând că întreaga unghie este albă. Traumatismul la
  nivelul matricei unghiale este cea mai întâlnită cauza. Pe lânga traumatismele
  mici repetate, alte cauze implică psoriazisul, keratodermiile, intoxicațiile
  cu metale grele, afecțiuni vasculare sau genetice. În termeni populari, lumea
  consideră ca este vorba despre lipsă de calciu, însa cauza este de fapt o
  tulburare de keratinizare în momentul formării unghiei în timpul procesului de
  creștere. Leuconichia necesită tratament dacă prezintă o cauza sistemică.
  Leuconichia striată sau liniile Mees se reflectă prin decolorarea albă în
  benzi multiple transversale, paralele cu lunula. Inhibarea creșterii matricei
  unghiate determină acest efect. Una dintre cele mai frecvente acte cauzatoare
  este manichiura excesivă sau înlaturarea traumatică a cuticulelor.
</p>
<h6>ONICOSHIZIS</h6>
<p>
  se manifestă prin exfolierea marginii libere a unghiei. Prin expunere
  alternativă repetată și bruscă de la umezeală la uscăciune, suntem predispuși
  să declanșăm această modificare a unghiei. De aceea este foarte important
  mediul în care lucram, cum ne protejăm și cum evităm traumatisme ce pot
  conduce la exfolierea unghiilor.
</p>
<h6>MELANONICHIA</h6>
<p>
  aceasta afecțiune determină colorarea unghiei în nuanțe de maro până la negru.
  Are doua forme: melanonichia longitudinală (se prezintă sub aspectul unei
  benzi longitudinale la nivelul aparatului unghial) și melanonichia difuză.
  Melanonichia, în majoritatea cazurilor, este influențată de producția crescută
  de melanină de către melanocitele localizate în matricea unghială. Această
  pigmentare a unghiei poate să fie dată de către mai mulți factori precum:
  afecțiunile sistemice, loviturile, infecțiile subunghiale, intoxicații
  interne, medicamentele, afecțiunile inflamatorii sau chiar melanomul
  subunghial. În ultimul caz, colorație este longitudinală, debutată cu mulți
  ani în urmă, însă modificată în ceea ce privește dimensiunea, forma, culoarea.
  Melanonichia longitudinală trebuie să fie evaluată prin biopsie pentru a
  confirma dacă este benignă sau a găsi mai curand un semn de melanom subungual
  .
</p>
<h6>ONICOLIZA</h6>
<p>
  in momentul in care se dezlipeste lama unghiala de patul unghial la nivelul
  marginii libere, afectiunea poarta numele de onizoliza. Aceasta este
  declansata de regula in urma unor traumatisme locale, dupa expunerea la frig
  sau umezeala, chiar si dupa agresarea unghiei in timul manichiurii sau
  pedichiurii. In zonele in care este dezlipita, unghia are culoarea modificată,
  alb- opacă, similară cu vârful liber crescut al unghiei.Pentru a trata aceasta
  afectiune, unghiile trebuie taiate scurt, nu trebuie agresata pielea de sub
  ele si trebuie evitate substantele chimice si traumatismele.
</p>
<p>Cauzele onicolizei pot fi:</p>
<ul>
  <li>patologice (diverse afecțiuni ale unghiilor)</li>
  <li>microbiene (ciuperci tip Candida, Pseudomonas)</li>
  <li>virale (Herpes simplex)</li>
  <li>
    medicamentoase (in urma unor tratamente cu antibiotice de tip îndelungat
    coroborate cu eventuala expunere la soare)
  </li>
  <li>
    non-microbiene (determinate de traume mecanice, ori de expunerea excesiva în
    soluții apoase cu pH acid sau bazic)
  </li>
</ul>
<h6>LINIILE lui BEAU</h6>
<p>
  apar precum niste santuri orizontale (transverse) pe suprafata unghiei, in mod
  paralel cu lunula. Traumatismele sau anumite boli sistemice (infectii,
  tulburari metabolice, etc) pot declansa aceste procese ce modifica productia
  de cheratina. Aceste depresiuni (adâncituri) care străbat unghia, dispar pe
  masura ce unghia creste, iar cu cat e mai severa afectiunea, cu atat sunt mai
  adanci liniile.
</p>
<h5>Pseudomonas aeruginosa</h5>
<p>
  unghiile verzi, cunoscute și sub denumirea de cloronychia sau sindromul
  unghiilor verzi, se caracterizează prin decolorarea unghiei (galben-verzui,
  verzui- maroniu, verzui-negru). Poate apărea la persoanele care au unghii
  artificiale, dar și la persoanele ale căror mâini sunt expuse constant la apă,
  săpunuri și detergenți.
</p>
<p>
  Cauza mucegaiului pe unghii este infecția cu o bacterie denumită Pseudomonas
  aeruginosa. Această bacterie poate fi prezentă oriunde, pe plante și animale,
  pe sol și în apă. Dacă unghia este expusă în mod repetat la mediul în care
  este prezentă această bacterie, crește riscul infectării pielii de sub unghia
  respectivă. Barmanii, chelnerii sau alte persoane a căror ocupație implică
  expunerea frecventă la apă au un risc mai mare de a dezvolta infecția,
  deoarece bacteriile prosperă cel mai bine în mediile umede.
</p>
<p>
  Poate fi infectată o mică porțiune a unghiei sau întreaga unghie. De asemenea,
  chiar dacă în general majoritatea persoanelor au doar o unghie infectată,
  uneori și unghia adiacentă unghiei infectate va prezenta semne de infecție.
  Decolorarea în verde a unghiei este atribuită piocianinei pigmentare care este
  produsă de bacteria Pseudomonas aeruginosa. De obicei, nu există complicații
  severe, dar pot exista cazuri foarte rare de infecție a pielii sau a
  țesuturilor moi cu bacteria Pseudomonas în cazul în care persoanele infectate
  se zgârie accidental cu unghia infectată.
</p>
<p>
  Atunci când produsul este aplicat pe o unghie care este infectată deja cu
  bacteria Pseudomonas, se creează un mediu aproape fără oxigen propice pentru
  înmulțirea bacteriei. În cazul în care apar pete verzi între unghia naturală
  și cea falsă, înseamnă că bacteriile fie erau deja prezente pe unghie înainte
  de aplicarea produsului, fie aderența produsului aplicat a fost
  nesatisfăcătoare și bacteriile și-au croit drum sub produs printr-o fisură.
</p>
<h5>Panarițiul (perionixis)</h5>
<p>
  este o inflamație de natură infecțioasă a repliului unghial (a tegumentului
  din jurul unghiei). Panarițiul este o afecțiune cutanată frecvent întâlnită,
  ce poate afectata pacienții de toate vârstele. Agenții infecțioși pătrund în
  la nivelul tegumentului în urma unor leziuni provocate de traumatisme minore,
  microscopice, ce sunt ignorate la momentul producerii.
</p>
<h5>Principalii agenți infecțioși sunt:</h5>
<ul>
  <li>
    Bacterii: Staphylococcus aureus (cel mai frecvent agent infecțios implicat
    în etiologia panarițiului), Streptococcus pyogenes, Pseudomonas bacterii
    Gram negative și anaerobe.
  </li>
  <li>Fungi: Candida albicans</li>
  <li>
    Virusuri: Herpes simplex. Tratamentul acestui tip de infecție este total
    diferit. Este esențială diagnosticarea corecta a acestuia.
  </li>
</ul>
