<h1>Ustensile folosite</h1>
<h4>Instrumente metalice:</h4>
<ul>
  <li>Pusher</li>
  <li>Forfecuta de cuticula</li>
  <li>Forfecuta de unghii</li>
  <li>Forfecuta de sabloane</li>
  <li>Ghilotina</li>
  <li>Instrumente curba C</li>
  <li>Penseta accesorii</li>
  <li>Capete de freza</li>
  <li></li>
</ul>

<h1>Capete de freza</h1>
<h5>Sunt de 3 tipuri:</h5>
<ul>
  <li>Dreptaci</li>
  <li>Stangaci</li>
  <li>Ambidextri</li>
</ul>

<h5>Capetele de freză sunt confecționate din 4 tipuri de materiale:</h5>
<ol>
  <li>Carbid</li>
  <li>Titan</li>
  <li>Ceramica</li>
  <li>Diamant</li>
</ol>
<h4>Culoarea bitului ne indică duritatea.</h4>
<p>Negru – Extra Dur / Grosier</p>
<p>Verde – Dur / Grosier</p>
<p>Albastru – Mediu / Standard</p>
<p>Mov – Mediu spre Fin / Standard</p>
<p>Roșu – Fin</p>
<p>Galben – ExtraFin</p>

<h1>Ustensile Unghii</h1>
<h3>
  ✓ Pile unghii – sunt compuse din miez de PVC / ABS / LEMN / FIER, acoperite cu
  grit. Granulația pilei este dată de densitatea Grit-ului pe cm2. În funcție de
  granulația pe care o are fiecare pilă, se utilizează pentru :
</h3>
<ul>
  <li>80 – 150 pentru îndepărtarea / pilirea materialului vechi</li>
  <li>150 – 180 pentru uniformizarea materialului</li>
  <li>240 pentru pregătirea plăcii unghiale, forma / scurtarea unghiei etc.</li>
</ul>
<h3>✓ Buffer / pilă buffer</h3>
<ul>
  <li>Buffer – confecționat din burete abraziv</li>
  <li>Pilă Buffer – miez din PVC / ABS, acoperite cu burete abraziv.</li>
</ul>
<h3>✓ Perii Praf</h3>
<h3>✓ Ustensile consumabile</h3>
<h3>✓ Pensule</h3>
