<h1>Forme unghii cu gel:</h1>
<h3>Balerina</h3>
<h3>Migdala</h3>
<h3>Patrat</h3>
<h3>Slim</h3>
<h3>Rotund</h3>

<h1>Balerina:</h1>
<ul>
  <li>
    Moderna
    <img
      src="../../assets/pictures/balerina_moderna.png"
      alt="balerina_moderna"
    />
  </li>
  <li>
    Monroe
    <img
      src="../../assets/pictures/balerina_monroe.png"
      alt="balerina_monroe"
    />
  </li>
</ul>
<h1>Migdala:</h1>
<ol>
  <li>
    Clasica:
    <ul>
      <li>Laterale, usor convergent</li>
      <li>Rotunjire varf</li>
      <li>Rotunjire suprafata</li>
      <li>Laterale inferioare</li>
      <img
        src="../../assets/pictures/migdala_clasica.png"
        alt="migdala_clasica"
      />
    </ul>
  </li>
  <li>
    Clasica moderna:
    <ul>
      <li>Laterale, usor convergent.</li>
      <li>Rotunjire vârf.</li>
      <li>Rotunjire suprafață.</li>
      <li>Laterale inferioare.</li>
      <li>Zona cuticulară.</li>
      <li>Apex</li>
      <li>Finisare</li>
      <img
        src="../../assets/pictures/migdala_clasica_moderna.png"
        alt="migdala_clasica_moderna"
      />
    </ul>
  </li>
  <li>
    Slim:
    <ul>
      <li>Laterale,ușor convergent.</li>
      <li>Rotunjire vârf.</li>
      <li>Rotunjire suprafață.</li>
      <li>Laterale inferioare</li>
      <img src="../../assets/pictures/migdala_slim.png" alt="migdala_slim" />
    </ul>
  </li>
  <li>Moderna de salon:</li>
  <img
    src="../../assets/pictures/migdala_moderna_de_salon.png"
    alt="migdala_moderna_de_salon"
  />
  <li>Rusa</li>
  <img src="../../assets/pictures/migdala_rusa.png" alt="migdala_rusa" />
  <li>Rusa moderna</li>
  <img
    src="../../assets/pictures/migdala_rusa_moderna.png"
    alt="migdala_rusa_moderna"
  />
</ol>
<h1>Patrat:</h1>
<ol>
  <li>Natural</li>
  <li>Cu colturi rotunjite</li>
  <li>Arcuit</li>
  <li>Squoval</li>
</ol>
<h3>
  Unghiile sunt de 3 tipuri:
  <ol>
    <li>Standarde</li>
    <li>Concave</li>
    <li>Convexe</li>
  </ol>
</h3>
