@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

h1 {
    display: flex;
    justify-content: center;
    color: rgb(5, 73, 73);
}

h3 {
    margin-left: 200px;
    color: rgb(9, 100, 100);
    font-family: 'Roboto Serif', serif;
    
}
ul{
    font-size: 30px;
    color: rgb(125, 72, 7);
    margin-left: 30px;
}