<div class="slideshow-container">
  <!-- <nbg-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="mySlides">
        <img 
          src="../../assets/pictures/IMG_4038.jpg"
          alt="First slide"
          [width]="900"
        />
      </div>
      <div class="mySlides">
        <img
          src="../../assets/pictures/IMG_4673.jpg"
          alt="Second slide"
          [width]="900"
        />
      </div>
      <div class="mySlides">
        <img
          src="../../assets/pictures/IMG_5963.jpg"
          alt="Third slide"
          width="900"
        />
      </div>
    </ng-template>
  </nbg-carousel> -->
</div>
