<div class="slide-container">
  <div class="slides-fade">
    <img src="../../assets/pictures/IMG_4673.jpg" alt="4673" width="100%" />
  </div>
  <div class="slides-fade">
    <img src="../../assets/pictures/IMG_5947.jpg" alt="5947" width="100%" />
  </div>
  <div class="slides-fade">
    <img src="../../assets/pictures/IMG_5963.jpg" alt="5963" width="100%" height="470vh" />
  </div>
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<div>
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div>
